@import '../../app/variables.module.scss';

.outside {
    margin-block: 1.5rem;
    width: 100%;
    max-width: 450px;
    margin-inline: auto;
}

.container {
    border: 2px solid $border-color;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.title {
    color: $black-opacity;
    font-weight: 500;
}

.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}